<div class="row">
    <div class="col-md-10 offset-md-1">
        <% page.posts.each(function (post) { %>
        <div class="row index-card">
            <% if(post.banner_img != null) { %>
                <div class="post_index_image_container">
                    <a href="<%- url_for(post.path) %>" style="background-image: url(<%- post.banner_img %>)" class="index-post-img" target="<%- theme.index.post_url_target %>"></a>
                </div>
            <% } %>
                <div>
                    <a href="<%- url_for(post.path) %>" class="h3 title" target="<%- theme.index.post_url_target %>"><%= post.title %></a>
                    <% if(post.excerpt.length > 0) { %>
                        <p><%- strip_html(post.excerpt) %>...</p>
                    <% } else if(theme.index.auto_excerpt.enable){ %>
                        <p><%- strip_html(post.content).substring(0, theme.index.auto_excerpt.length) %>...</p>
                    <% } %>
                    <% if(theme.index.post_info.enable){ %>
                    <p class="h5">
                        <a href="/archives"><%- date(post.date,"YYYY-MM-DD") %></a>
                        <% if(post.tags.length) { %>
                            |
                            <% post.tags.each(function(tag){ %>
                                <a href="/archives/#<%- tag.name %>">#<%= tag.name %></a>
                            <% }) %>
                        <% } %>
                        <% if(post.categories.length) { %>
                            |
                            <% post.categories.each(function(category){ %>
                                <a href="/categories/<%- category.name %>">><%= category.name %></a>
                            <% }) %>
                        <% } %>
                        <%- page.author %>
                    </p>
                    <% } %>
                </div>
        </div>

        <% }) %>
        <br><br>
        <%- partial('_partial/paginator') %>
    </div>
</div>
